html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background-color: #fffaf5;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #b76e79;
}
.date {
    font-size: 1.5em;
    margin: 20px 0;
    color: #8a6d66;
}
.rsvp-button {
    background-color: #b76e79;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 25px;
    display: inline-block;
    margin: 20px 0;
    transition: 0.3s;
}
.rsvp-button:hover {
    background-color: #945961;
}
.countdown {
    font-size: 1.2em;
    margin-top: 20px;
    color: #8a6d66;
}

/*Seção Historia*/
.history  {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
    line-height: 2;
}

.history:hover{
    transform: translateY(-5px);
}

/*Seção Galeria*/

.photos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.gallery img {
    width: 500px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    scroll-snap-align: center;
}

.gallery img:hover {
    transform: scale(1.05);
}


/*Seção Presents*/

.presents  {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
    line-height: 2;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.lightbox.active {
    display: flex;
}

